
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.footer {
   position: fixed;
   margin-top: auto;
   bottom: 0;
   width: 100%;
   height: 50px;
}

img.imgSize {
	height: 200px;
	width: 200px;
}

.row {
  margin-bottom: 100px;
}

#codeContainer {
  background-color: grey;
  width: 98%;
  min-height: 95vh;
  margin: auto;
  position: fixed;
  display: none;
}

p.pending {
  color: orange;
}

p.bad {
  color: red;
}

p.graded {
  color: green;
}